@using ForumApp.Web.ViewModels.Admin.Board
@model IEnumerable<BoardAdminViewModel>

<h2>Admin Dashboard</h2>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Approved</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var board in Model)
		{
			<tr>
				<td>@board.Name</td>
				<td>@board.Description</td>
				<td>@board.IsApproved</td>
				<td>
					@if (!board.IsApproved)
					{
						<form method="post" asp-route-id="@board.Id" asp-action="Approve" asp-controller="Dashboard" asp-area="Admin">
							@Html.AntiForgeryToken()
							<button type="submit" class="btn btn-success btn-sm">Approve</button>
						</form>
					}

					<a asp-area="Admin" asp-controller="Dashboard" asp-action="Delete" asp-route-id="@board.Id"
					   class="btn btn-danger btn-sm">Delete</a>

					@if (board.IsDeleted)
					{
						<form asp-area="Admin" asp-controller="Dashboard" asp-action="RestoreDeletedBoard" asp-route-id="@board.Id" method="post" style="display:inline">
							@Html.AntiForgeryToken()
							<button type="submit" class="btn btn-warning btn-sm">Restore</button>
						</form>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
